/* PointCard.css */

.pointCard {
    padding: 1vw 0;
    /* color: #E8F5E9; */
    font-family: "Montserrat";
    opacity: 1;
    transition: opacity 0.1s ease;
}

.pointCard.active {
    opacity: 1;
    color: black;
}

.heading {
    font-size: 23px;
    font-family: "Montserrat";
    opacity: 0.5;
    color: #000000;
}
.heading.active {
    font-size: 23px;
    font-family: "Montserrat";
    color: #000000;
    opacity: 1;
}

.description {
    font-size: 16px;
    font-family: "Montserrat";
    color: #000000;
    opacity: 0.5;
}
.description.active {
    font-size: 16px;
    font-family: "Montserrat";
    color: #000000;
    opacity: 1;
}

h2 {
    
    font-size: 16px;
    font-family: "Montserrat";
    color: #000000;
}

h1 {
   
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 600;
    color:'#000000';
}

@media (max-width: 480px) {
    .pointCard {
        text-align: left;
    }
}

